<div class="container">
	<h3>LET'S SURPRISE <input type="text" class="target-input" ng-model="targetName"></h3>
	<form role="form">
		<div class="form-group">
			<label>TITLE:</label> <input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>NAME:</label> <input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>EMAIL:</label> <input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>DUE DATE:</label> <input type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
