<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <img id="welcome-vidcomb" src="/images/welcome-vidcomb.png">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">HOW DOES IT WORK?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="/images/VidComb_Icon1.png">
        </div>
        <div class="col-xs-12 text-center">
          Create a <br>Video Project
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="/images/VidComb_Icon2.png">
        </div>
        <div class="col-xs-12 text-center">
          Invite <br>Participants
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="/images/VidComb_Icon3.png">
        </div>
        <div class="col-xs-12 text-center">
          Participants Will<br>Upload Video
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="/images/VidComb_Icon4.png">
        </div>
        <div class="col-xs-12 text-center">
          Compiled Video<br>Ready
        </div>
      </div>
    </div>
  </div>