<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img src="images/VidComb_Logo_Blue.png" alt="Logo" height="50" width="100"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ng-class="{active: navbarModel.home}" ng-click="setActive('home')"><a ng-href="#">Home</a></li>
      <li ng-class="{active: navbarModel.create}" ng-click="setActive('create')"><a ng-href="#/create">Create</a></li>
      <li ng-class="{active: navbarModel.record}" ng-click="setActive('record')"><a ng-href="#/record/123">Test Record</a></li>
      <li ng-class="{active: navbarModel.video}" ng-click="setActive('video')"><a ng-href="#/video/123">Test Video</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/wk-cof/vidcomb"><img src="images/github.svg" alt="Take our code!" height="20" width="20"></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>