<div class="text-center">
  <label>
    Name:
    <input type="text" value="" name="username" id="username" ng-model="username"/>
  </label>
</div>

<ziggeo ziggeo-width=640 ziggeo-height=480 ziggeo-limit=20>
</ziggeo>

<div class="other-uploads">
  <p></p>
  <div class="text-center">
    <div id="dropbox-container"></div>
  </div>
</div>

<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script type="text/javascript" charset="utf-8">
var saveVideoUrl = function(params) {
  var ref = new Firebase('https://glaring-inferno-2666.firebaseio.com/events/' + window.ROUTE_ID);
  var saved = ref.push(params);
  console.debug('Firebase saved: ' + saved.key());
}
ZiggeoApi.Events.on("submitted", function (data) {
  console.debug('ZiggeoApi' + data)
  var url = ZiggeoApi.Videos.sources(data.video.token)[0]
  saveVideoUrl({
    'type': 'ziggeo',
    'url': url,
    'token': data.video.token,
    'duration': data.video.duration,
    'name': $('#username').val()
  });
});

/* Dropbox */
options = {
  success: function(files) {
    saveVideoUrl({'type': 'dropbox', 'url': files[0].link});
    console.debug("Here's the file link: " + files[0].link)
  },
  linkType: "direct"
}
var button = Dropbox.createChooseButton(options);
document.getElementById("dropbox-container").appendChild(button);

</script>
