<style type="text/css" media="screen">
#ziggeo-container div {
  display: inline-block;
}
</style>
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />

<div id="ziggeo-container">
</div>

<div class="text-center">
  <button ng-click="debug()" style="display: none;">Debug!</button>
  <button class="compile" ng-click="compile()">Compile!</button>
</div>

<script type="text/javascript" charset="utf-8">
function retriveUsingId(id) {
  var ref = new Firebase('https://glaring-inferno-2666.firebaseio.com/events/' + id);
  ref.on('child_added', function(snapshot) {
    var item = snapshot.val();
    if (item.type === 'ziggeo') {
      console.log(item.token);
    }
    console.log(item.type);
    console.log(item.url);
  });
}

/**
 * Takes in a list of urls and generates the XML needed to send to Stupeflix
 */

</script>
