<style type="text/css" media="screen">
#ziggeo-container div {
  display: inline-block;
}
</style>
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />

<div id="ziggeo-container">
</div>

<div class="text-center">
  <button ng-click="debug()" style="display: none;">Debug!</button>
  <button class="compile" ng-click="compile()">Compile!</button>
</div>

<div id="showCompiled"></div>

<script type="text/javascript" charset="utf-8">
function retriveUsingId(id) {
  var ref = new Firebase('https://glaring-inferno-2666.firebaseio.com/events/' + id);
  ref.on('child_added', function(snapshot) {
    var item = snapshot.val();
    if (item.type === 'ziggeo') {
      console.log(item.token);
    }
    console.log(item.type);
    console.log(item.url);
  });
}

function auth() {
  var fbref = new Firebase('https://glaring-inferno-2666.firebaseio.com');
  var scope = 'email,https://www.googleapis.com/auth/youtube.upload'
  fbref.authWithOAuthPopup("google", function(error, authData) {
      console.debug(error);
      console.debug(authData);
      var accessToken = authData.google.accessToken;
      window.ACCESS_TOKEN = accessToken;
      $.get('http://localhost:8080/?accessToken=' +
        window.ACCESS_TOKEN + '&url=' + window.COMPILED_URL)
      .done(function(response) {
      });
  }, {
    remember: "sessionOnly",
    scope: scope
  });
}

</script>
